﻿@model MyPortfolio.Models.TblExperiences
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yeni Deneyim Güncelleme Sayfası</h3>
<form method="post">
    <input type="hidden" name="ExperienceId" value="@Model.ExperienceId" />
    <label>İşe Başlama Yılı</label>
    <input type="number" name="StartYear" class="form-control" value="@Model.StartYear" />
    <label>Ayrılış Tarihi</label>
    <input type="text" name="EndYear" class="form-control" value="@Model.EndYear" />
    <label>İş Tanımı</label>
    <input type="text" name="Title" class="form-control" value="@Model.Title" />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" value="@Model.Description" />
    <label>Şirket Adı </label>
    <input type="text" name="Company" class="form-control" value="@Model.Company" />
    <label>Konum Bilgisi</label>
    <input type="text" name="Location" class="form-control" value="@Model.Location" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>