﻿@model List<MyPortfolio.Models.TblMessages>
@{
    ViewBag.Title = "GetAllMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

@if (Model.Count > 0)
{
    <br />
    <h3>Tüm Mesajlar</h3>
    <br />

    <a href="/Message/GetAllMessage" class="btn btn-outline-secondary">Tüm Mesajlar</a>
    <a href="/Message/GetReadMessage" class="btn btn-outline-secondary">Okunan Mesajlar</a>
    <a href="/Message/Index" class="btn btn-outline-secondary">Okunmayan Mesajlar</a>
    <br />
    <br />
    using (Html.BeginForm("GetMessageByNameSurname", "Message", FormMethod.Post))
    {
        <input type="text" class="form-control" name="Name" placeholder="Ad Soyad" />
        <br />
        <input type="submit" class="btn btn-outline-primary" value="Ara" />
        <br />
        <br />
    }
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Eposta</th>
            <th>Konu</th>
            <th>İçerik</th>
            <th>Okundu Olarak İşaretle</th>
            <th>Cevapla</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.MessageContent</td>
                <td><a href="/Message/MarkAsRead/@item.MessageId" class="btn btn-outline-danger">Okundu</a></td>
                <td><a href="mailto:@item.Email" class="btn btn-outline-info">Cevapla</a></td>
            </tr>
        }
    </table>
}
else
{
    <br />
    <h3>Mesajlar</h3>
    <br />
    <a href="/Message/GetAllMessage" class="btn btn-outline-primary">Tüm Mesajlar</a>
    <a href="/Message/GetReadMessage" class="btn btn-outline-primary">OKunan Mesajlar</a>

    <br />
    <br />
    <div class="alert alert-info">Okunmamış mesajınız bulunmamaktadır.</div>
}