﻿@model MyPortfolio.Models.TblTeams
@{
    ViewBag.Title = "UpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var count = 0;
}

<br />
<br />
<h3>Takım Arkaşı Güncelleme </h3>


<input type="hidden" name="TeamId" value="@Model.TeamId" />

<label>Resim Url</label>
<input type="text" name="ResimUrl" class="form-control" value="@Model.ImageUrl" />
<br />

<label>Adı Soyadı</label>
<input type="text" name="NameSurname" class="form-control" value="@Model.NameSurname" />
<br />

<label>Twitter Url</label>
<input type="text" name="TwitterUrl" class="form-control" value="@Model.TwitterUrl" />
<br />

<label>Facebook Url</label>
<input type="text" name="FacebookUrl" class="form-control" value="@Model.FacebookUrl" />
<br />

<label>Linkedin Url</label>
<input type="text" name="LinkedinUrl" class="form-control" value="@Model.LinkedinUrl" />
<br />

<label>Instagram Url</label>
<input type="text" name="InstagramUrl" class="form-control" value="@Model.InstagramUrl" />
<br />

<button class="btn btn-outline-primary">Güncelle</button>
